<html>
<head>
	<title><%= room.title %></title>
</head>
<body>
	<h1><%= room.title %></h1>
	<p>Neighborhood: <%= room.neighborhood %></p>	
	<p>Price: <%= room.price %></p>
	<p>Date Available: <%= room.open %></p>
	<p>Description: <%= room.description %></p>
	<a href="/rooms/<%= room.id %>/edit">Edit</a>
	<br>
	<form action="/rooms/<%= room.id %>?_method=DELETE" method="POST">
		<input type="submit" value="DELETE">
	</form>
	<p><a href="/rooms/">Back</a></p>
</body>
</html>